@import 'partials/_intro';
@import 'partials/_nav';
@import 'partials/_home';
@import 'partials/_footer';


//********** RESET **********
html {
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: fff;
}
a {
  color: inherit;
  text-decoration: none;
}

#homeBody {
  margin: 0;
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
#homePage {
  background: url("../img/iray-back.jpg");
  background-repeat: repeat-x;
  height: 100%;
  img {
    display: block;
    margin: 20% auto 0 auto;
    width: 80%;
  }
}
#aboutPage {
  background: url("../img/iray-back.jpg");
  background-repeat: repeat-x;
}
#homeContainer {
  height: 100%;
  #theMusicians {
    width: 80%;
    color: #000;
    font-size: 1rem;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    //background: url("../img/iray-back.jpg");
    .musician {
      width: 90%;
      margin-top: 8%;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      img {
        width: 100%;
      }
      h3 {
        text-transform: uppercase;
        span {
          font-size: 0.9rem;
        }
      }
    }
    i {
      float: right;
      font-size: 2rem;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: .6;
        -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(-3px);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(-3px);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(-3px);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(-3px);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(-3px);
      }
    }
  }
  #homeNav {
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    .logoSquare {
      width: 50px;
      height: 50px;
      margin: 1%;
      text-align: center;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      &:hover {
        opacity: .8;
      }
    }
  }
  //#menuItemsReveal {
  //  z-index: 1000;
  //  #aboutLink, #mediasLink, #contactLink {
  //    display: none;
  //    font-size: 2rem;
  //    text-transform: uppercase;
  //    color: #fff;
  //    background: #000;
  //    position: absolute;
  //    top: 70px;
  //    left: 43%;
  //  }
  //}
  #about{
    width: 80%;
    h2 {
      text-transform: uppercase;
    }
    #irayBio {
      width: 100%;
    }
    margin-top: 15%;
    margin-bottom: 5%;
    color: #000;
    text-align: justify;
    font-size: 1.2rem;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    //background: url("../img/iray-back.jpg");
  }
  #newsConcerts {
    h2 {
      text-transform: uppercase;
    }
    margin:5% auto 5% auto;
    width: 80%;
    //display: flex;
    -webkit-box-shadow: 20px 20px 10px 0 #000;
    box-shadow: 20px 20px 10px 0 #000;
    #news {
      width: 90%;
      text-align: justify;
      margin: 0 0 10% 0;
    }
    #concerts {
      //border-top: 4px solid #000;
      width: 95%;
    }
  }
}
