footer {
  position: relative;
  display: block;
  width: 40%;
  background: #fff;
  text-align: center;
  font-size: 0.7rem;
  margin: 5% auto 1% auto;

  //**** SMARTPHONES LANDSCAPE ****
  @media only screen and (min-width : 320px) {
    width: 100%;
    font-size: .4rem;
  }

  //**** SMARTPHONES PORTRAIT ****
  @media only screen and (max-width: 420px) {
    width: 100%;
    font-size: .5rem;
  }

  p {
    padding: 2%;
    //border: 1px dashed #000000;
    margin-left: auto;
    margin-right: auto;
  }
}