footer {
  position: absolute;
  display: block;
  width: 40%;
  text-align: center;
  font-size: .8rem;
  margin: 5% auto 1% auto;


  //**** SMARTPHONES LANDSCAPE ****
  @media only screen and (min-width : 320px) {
    width: 100%;
    font-size: .4rem;
  }

  //**** SMARTPHONES PORTRAIT ****
  @media only screen and (max-width: 420px) {
    width: 100%;
    font-size: .5rem;
  }
}