#introBody {
  background: url("../img/photo-front.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;

  //**** SMARTPHONES PORTRAIT ****
  @media only screen and (max-width: 420px) {
    img {
      width: 100%
    }
  }

  #introDown {
    margin-top: -10px;
  }
}